/* * {
    outline: 2px solid red;
} */
body {
    margin: 0px;
}
.container {
    margin: 0%;
}

.header-container {
    max-height: 21%;
    font-family: "Roboto" ;
    background-color: #1F2937;
    
}

.header-content {
    margin-left: 13%;
    margin-right: 13%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #E5E7EB;
    gap: 12px;
}

/* .link1 {
    padding-right: 5px;
}


.link2 {
    padding-right: 5px;
    padding-left: 5px;
}

.link3 {
    padding-left: 5px;
} */

.hero {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-height: 50%;
    margin-top: 8%;
    padding-bottom: 0px;
    /* padding-bottom: 6%; */
}
.hero_text {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
#hero_text1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
 }
 #hero_text2{
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
 }

 #sign_btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 3px 28px;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    margin: 8px;
    width: 117px
  }
  .image {
    max-width: 55%;
    max-height: 30%;
    margin: 15px
  }
  .image img {
    width: 100%;
    height: 60%;
    object-fit: fill;
    /* aspect-ratio: 3/1; */

  }

  .section2 {
    max-height: 21%;
    justify-items: center;
    padding-bottom: 50px;
    margin: 40px
  }
  #sec2Text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
  }
  .image-row {
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .image-row img{
    max-width: 20%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .imgCap {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }




  .section3 {
    max-height: 21%;
    background-color: #E5E7EB;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section3 q{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;   
  }
  .section3 p{
    max-width: 60%;
    
  }

  .section4 {
    max-height: 21%;
    border-radius: 4px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 .section4 button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    padding: 4px 28px;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    margin: 8px;
    max-height: fit-content;
  }

  .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }